In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('data.csv', index_col=0)
data.head()

              Газпром      Лукойл   Роснефть  Сбербанк Ростелеком
Дата
28.12.2012     144,31    2 005,90     269,51     92,85     119,75
27.12.2012     145,00    2 014,00     267,86     92,67     118,88
26.12.2012     144,90    2 018,40     267,18     92,27     118,65
25.12.2012     144,54    2 014,00     265,29     92,70     118,38
24.12.2012     145,24    2 016,10     265,59     92,77     119,65