In [67]:
import math
import pandas as pd
import numpy as np
epsilon = 1e-1
iterations = []
x_i = []
def lobachevsky_method(a):
    k = 1
    x_k = [0, 0, 0, 0]
    a_k = a.copy()
    a_k1 = a.copy()
    iterations.append(a_k1.copy())
    x_k1 = [-a_k[1] / a_k[0], -a_k[2] / a_k[1], -a_k[3] / a_k[2]]
    x_i.append(x_k1)
    while abs(x_k1[2] - x_k[2]) >= epsilon:
        a_k1[0] = a_k[0]**2
        a_k1[1] = 2*a_k[0]*a_k[2] - a_k[1]**2
        a_k1[2] = - 2*a_k[1]*a_k[3] + a_k[2]**2
        a_k1[3] = - a_k[3]**2
        iterations.append(a_k1.copy())
        a_k = a_k1.copy()
        x_k = x_k1
        x_k1 = [(-a_k[1] / a_k[0])**(1/2**k), (-a_k[2] / a_k[1])**(1/2**k), (-a_k[3] / a_k[2])**(1/2**k)]
        x_i.append(x_k1)
        k+=1
    return x_k1
lobachevsky_method([1, -6, 3, 10])

[5.0004110816888385, 2.0008110360968936, 0.9995124700749397]

In [68]:
pd.options.display.float_format ='{:,.4f}'.format
table = pd.concat([pd.DataFrame(iterations, columns=["a_0", "a_1", "a_2", "a_3"]).T, pd.DataFrame(x_i, columns=['x_1', 'x_2', 'x_3']).T]).fillna(' ')
table

          0         1            2                 3
a_0  1.0000    1.0000       1.0000            1.0000
a_1 -6.0000  -30.0000    -642.0000     -390,882.0000
a_2  3.0000  129.0000  10,641.0000  100,390,881.0000
a_3 10.0000 -100.0000 -10,000.0000 -100,000,000.0000
x_1  6.0000    5.4772       5.0337            5.0004
x_2  0.5000    2.0736       2.0177            2.0008
x_3 -3.3333    0.8805       0.9846            0.9995

In [64]:
0.9995 - 0.9846 < epsilon

True