# Лабораторная работа 03 (проверка качества данных)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

# Задание 1: Проверка целостности данных.
Используйте набор данных о продажах и проверьте, заполнены ли все необходимые поля. Если обнаружены пропущенные значения, определите, какой процент они составляют от общего количества данных. 

Набор данных для использования: "Online Retail" на Kaggle. Этот набор данных представляет собой транзакции, произошедшие в период с декабря 2010 по октябре 2011 года и зарегистрированные розничной компанией из Великобритании.

Ссылка: https://www.kaggle.com/mashlyn/online-retail-ii-uci

In [4]:
data = pd.read_csv('data/online_retail_II.csv')
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

Рассмотрим количество пропущенных значений в соответствии с каждым столбцом

In [6]:
null_values = data.isna().sum()
null_values

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

Рассмотрим количество ненулевых значений в соответствии с каждым столбцом

In [9]:
null_values / data.count() * 100

Invoice         0.000000
StockCode       0.000000
Description     0.412234
Quantity        0.000000
InvoiceDate     0.000000
Price           0.000000
Customer ID    29.478119
Country         0.000000
dtype: float64

Таким образом, доля пропущенных значений в Description = $0.41\%$, а в Customer ID = $29\%$

# Задание 2: Проверка консистентности данных.
Рассмотрите набор данных о климате и проверьте, соблюдаются ли форматы дат во всех записях. 

Набор данных для использования: "Climate Change: Earth Surface Temperature Data" на Kaggle. 

Ссылка: https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

In [14]:
data = pd.read_csv('data/GlobalTemperatures.csv')
data.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

Определим метод для выявления некорректной даты.

In [15]:
data['dt'] = pd.to_datetime(data['dt'], errors='coerce')
incorrect_dates = data[data['dt'].isna()]

incorrect_dates

Empty DataFrame
Columns: [dt, LandAverageTemperature, LandAverageTemperatureUncertainty, LandMaxTemperature, LandMaxTemperatureUncertainty, LandMinTemperature, LandMinTemperatureUncertainty, LandAndOceanAverageTemperature, LandAndOceanAverageTemperatureUncertainty]
Index: []

Таким образом, в датафрейме нет некорректно заданных дат.

Вручную были измененые некоторые даты в датафрейме. Загрузим датафрейм с некорректными датами

In [18]:
data = pd.read_csv('data/GlobalTemperaturesIncorrect.csv')
data.head(11)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,175002-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
5,1750-06-01,12.937,1.724,NaN,NaN,NaN,NaN,NaN,NaN
6,1750-07,15.868,1.911,NaN,NaN,NaN,NaN,NaN,NaN
7,1750-08-01,14.750,2.231,NaN,NaN,NaN,NaN,NaN,NaN
8,1750-09-01,11.413,2.637,NaN,NaN,NaN,NaN,NaN,NaN
9,1750-10-01,6.367,2.668,NaN,NaN,NaN,NaN,NaN,NaN
10,19034-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
data['dt'] = pd.to_datetime(data['dt'], errors='coerce')
incorrect_dates = data[data['dt'].isna()]

incorrect_dates

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
1,NaT,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
6,NaT,15.868,1.911,NaN,NaN,NaN,NaN,NaN,NaN
10,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Как можно видеть, функция верно определила некорректно заданные даты.

# Задание 3: Проверка актуальности данных.

Анализируя набор данных о твитах, проверьте даты публикации твитов и определите, какие из них актуальны на текущий момент.

Набор данных для использования: "COVID19 Tweets" на Kaggle, включающий твиты о пандемии COVID-19.

Ссылка: https://www.kaggle.com/gpreda/covid19-tweets

In [67]:
data = pd.read_csv('data/covid19_tweets.csv')
data.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,ᏉᎥ☻լꂅϮ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile 🇺🇸,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,🖊️Official Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [71]:
data['date'] = pd.to_datetime(data['date'], errors = 'coerce')

Введем переменную, отвечающую за сегодняшнюю дату

In [80]:
actual_date = datetime.today()
actual_date

datetime.datetime(2024, 9, 26, 18, 24, 25, 764493)

Определим метод, который будет возвращать True или False  в зависимости от того, является ли дата актуальной. К примеру, установим стандартное значение актуальности даты - 30 дней.

In [89]:
def is_actual_date(object_date, actual_date, days=30):
    return (actual_date - object_date).days <= days

Добавляем к исходным данным новый столбец, который обозначает, является ли дата актуальной

In [103]:
data['is_actual'] = data.date.apply(lambda object_date: is_actual_date(object_date, actual_date))

In [104]:
data.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet,is_actual
0,ᏉᎥ☻լꂅϮ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False,False
1,Tom Basile 🇺🇸,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False,False
4,DIPR-J&K,Jammu and Kashmir,🖊️Official Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False,False

In [105]:
data['is_actual'].value_counts()

is_actual
False    179108
Name: count, dtype: int64

То есть все данные имеют неактуальную дату. Создадим синтетическую дату, которую будем считать сегодняшним днем.

In [98]:
synthetic_date = datetime(2020, 7, 25, 15, 50, 45, 342380)
synthetic_date

datetime.datetime(2020, 7, 25, 15, 50, 45, 342380)

Теперь попробуем определить, является ли дата актуальной, считая синтетическую дату сегодняшним днем. Будем считать, что дата будет актуальной, если отклоняется не более, чем на день, от сегодняшней даты.

In [110]:
data['is_actual'] = data.date.apply(lambda object_date: is_actual_date(object_date, synthetic_date, 1))

In [111]:
data['is_actual'].value_counts()

is_actual
True    179108
Name: count, dtype: int64

То есть все данные имеют актуальную дату.

# Задание 4: Проверка полноты данных.

Рассмотрите набор данных о заболеваемости раком, проанализируйте, приведены ли данные по всем странам или некоторые из них отсутствуют. 

Набор данных для использования: "Global Cancer Data by Country" на Kaggle.

Ссылка: https://www.kaggle.com/datasets/ahmadjalalmasood123/global-cancer-data-by-country

In [10]:
data = pd.read_csv('data/Global Cancer data by Country.csv')
data.head()

  Both sexes      Number  ASR/100,000
0      World  18,094,716        190.0
1    Denmark      39,996        334.9
2    Ireland      27,067        326.6
3    Belgium      74,162        322.8
4    Hungary      62,399        321.6

In [11]:
#!pip install country_list

Рассмотрим число уникальных стран из набора данных

In [12]:
len(data['Both sexes'].unique())

186

Выгружаем из библиотеки список всех стран на английском.

In [13]:
from country_list import countries_for_language

countries = dict(countries_for_language('en'))
countries_list = list(countries.values())
countries_list[:5]

['Afghanistan', 'Åland Islands', 'Albania', 'Algeria', 'American Samoa']

Рассмотрим общее число стран из библиотеки

In [14]:
len(countries_list)

249

Определим функцию, возвращающую dictionary вида {country: boolean}, где значение отвечает за то, есть ли страна в датафрейме или нет.

In [15]:
def count_data_by_countries(data : pd.DataFrame):
    library_countries = dict(countries_for_language('en'))
    library_countries_list = list(library_countries.values())
    dataframe_countries_list = data['Both sexes'].tolist()

    all_countries_list = dataframe_countries_list + library_countries_list

    countries_statistis = dict.fromkeys(countries_list, False)
    
    for country in dataframe_countries_list:
        if country in all_countries_list:
            countries_statistis[country] = True

    return countries_statistis

In [16]:
countries_statistic = count_data_by_countries(data)

Выведем первые 5 значений полученного dictionary

In [17]:
{k: countries_statistic[k] for k in list(countries_statistic)[:5]}

{'Afghanistan': True,
 'Åland Islands': False,
 'Albania': True,
 'Algeria': True,
 'American Samoa': False}

Рассмотрим число всех значений в полученном dictionary

In [18]:
len(countries_statistic.keys())

267

In [22]:
countries_statistic

{'Afghanistan': True,
 'Åland Islands': False,
 'Albania': True,
 'Algeria': True,
 'American Samoa': False,
 'Andorra': False,
 'Angola': True,
 'Anguilla': False,
 'Antarctica': False,
 'Antigua & Barbuda': False,
 'Argentina': True,
 'Armenia': True,
 'Aruba': False,
 'Australia': True,
 'Austria': True,
 'Azerbaijan': True,
 'Bahamas': True,
 'Bahrain': True,
 'Bangladesh': True,
 'Barbados': True,
 'Belarus': True,
 'Belgium': True,
 'Belize': True,
 'Benin': True,
 'Bermuda': False,
 'Bhutan': True,
 'Bolivia': True,
 'Bosnia & Herzegovina': False,
 'Botswana': True,
 'Bouvet Island': False,
 'Brazil': True,
 'British Indian Ocean Territory': False,
 'British Virgin Islands': False,
 'Brunei': True,
 'Bulgaria': True,
 'Burkina Faso': True,
 'Burundi': True,
 'Cambodia': True,
 'Cameroon': True,
 'Canada': True,
 'Cape Verde': False,
 'Caribbean Netherlands': False,
 'Cayman Islands': False,
 'Central African Republic': True,
 'Chad': True,
 'Chile': True,
 'China': True,
 'Christmas Island': False,
 'Cocos (Keeling) Islands': False,
 'Colombia': True,
 'Comoros': True,
 'Congo - Brazzaville': False,
 'Congo - Kinshasa': False,
 'Cook Islands': False,
 'Costa Rica': True,
 'Côte d’Ivoire': True,
 'Croatia': True,
 'Cuba': True,
 'Curaçao': False,
 'Cyprus': True,
 'Czechia': True,
 'Denmark': True,
 'Djibouti': True,
 'Dominica': False,
 'Dominican Republic': True,
 'Ecuador': True,
 'Egypt': True,
 'El Salvador': True,
 'Equatorial Guinea': True,
 'Eritrea': True,
 'Estonia': True,
 'Eswatini': True,
 'Ethiopia': True,
 'Falkland Islands': False,
 'Faroe Islands': False,
 'Fiji': True,
 'Finland': True,
 'France': True,
 'French Guiana': True,
 'French Polynesia': True,
 'French Southern Territories': False,
 'Gabon': True,
 'Gambia': False,
 'Georgia': True,
 'Germany': True,
 'Ghana': True,
 'Gibraltar': False,
 'Greece': True,
 'Greenland': False,
 'Grenada': False,
 'Guadeloupe': False,
 'Guam': True,
 'Guatemala': True,
 'Guernsey': False,
 'Guinea': True,
 'Guinea-Bissau': True,
 'Guyana': True,
 'Haiti': True,
 'Heard & McDonald Islands': False,
 'Honduras': True,
 'Hong Kong SAR China': False,
 'Hungary': True,
 'Iceland': True,
 'India': True,
 'Indonesia': True,
 'Iran': True,
 'Iraq': True,
 'Ireland': True,
 'Isle of Man': False,
 'Israel': True,
 'Italy': True,
 'Jamaica': True,
 'Japan': True,
 'Jersey': False,
 'Jordan': True,
 'Kazakhstan': True,
 'Kenya': True,
 'Kiribati': False,
 'Kuwait': True,
 'Kyrgyzstan': True,
 'Laos': True,
 'Latvia': True,
 'Lebanon': True,
 'Lesotho': True,
 'Liberia': True,
 'Libya': True,
 'Liechtenstein': False,
 'Lithuania': True,
 'Luxembourg': True,
 'Macao SAR China': False,
 'Madagascar': True,
 'Malawi': True,
 'Malaysia': True,
 'Maldives': True,
 'Mali': True,
 'Malta': True,
 'Marshall Islands': False,
 'Martinique': False,
 'Mauritania': True,
 'Mauritius': True,
 'Mayotte': False,
 'Mexico': True,
 'Micronesia': False,
 'Moldova': True,
 'Monaco': False,
 'Mongolia': True,
 'Montenegro': True,
 'Montserrat': False,
 'Morocco': True,
 'Mozambique': True,
 'Myanmar (Burma)': False,
 'Namibia': True,
 'Nauru': False,
 'Nepal': True,
 'Netherlands': False,
 'New Caledonia': False,
 'New Zealand': True,
 'Nicaragua': True,
 'Niger': True,
 'Nigeria': True,
 'Niue': False,
 'Norfolk Island': False,
 'North Korea': True,
 'North Macedonia': True,
 'Northern Mariana Islands': False,
 'Norway': True,
 'Oman': True,
 'Pakistan': True,
 'Palau': False,
 'Palestinian Territories': False,
 'Panama': True,
 'Papua New Guinea': True,
 'Paraguay': True,
 'Peru': True,
 'Philippines': True,
 'Pitcairn Islands': False,
 'Poland': True,
 'Portugal': True,
 'Puerto Rico': True,
 'Qatar': True,
 'Réunion': False,
 'Romania': True,
 'Russia': True,
 'Rwanda': True,
 'Samoa': True,
 'San Marino': False,
 'São Tomé & Príncipe': False,
 'Saudi Arabia': True,
 'Senegal': True,
 'Serbia': True,
 'Seychelles': False,
 'Sierra Leone': True,
 'Singapore': True,
 'Sint Maarten': False,
 'Slovakia': True,
 'Slovenia': True,
 'Solomon Islands': True,
 'Somalia': True,
 'South Africa': True,
 'South Georgia & South Sandwich Islands': False,
 'South Korea': True,
 'South Sudan': True,
 'Spain': True,
 'Sri Lanka': True,
 'St. Barthélemy': False,
 'St. Helena': False,
 'St. Kitts & Nevis': False,
 'St. Lucia': False,
 'St. Martin': False,
 'St. Pierre & Miquelon': False,
 'St. Vincent & Grenadines': False,
 'Sudan': True,
 'Suriname': True,
 'Svalbard & Jan Mayen': False,
 'Sweden': True,
 'Switzerland': True,
 'Syria': True,
 'Taiwan': False,
 'Tajikistan': True,
 'Tanzania': True,
 'Thailand': True,
 'Timor-Leste': True,
 'Togo': True,
 'Tokelau': False,
 'Tonga': False,
 'Trinidad & Tobago': False,
 'Tunisia': True,
 'Turkey': True,
 'Turkmenistan': True,
 'Turks & Caicos Islands': False,
 'Tuvalu': False,
 'U.S. Outlying Islands': False,
 'U.S. Virgin Islands': False,
 'Uganda': True,
 'Ukraine': True,
 'United Arab Emirates': True,
 'United Kingdom': False,
 'United States': False,
 'Uruguay': True,
 'Uzbekistan': True,
 'Vanuatu': True,
 'Vatican City': False,
 'Venezuela': True,
 'Vietnam': True,
 'Wallis & Futuna': False,
 'Western Sahara': False,
 'Yemen': True,
 'Zambia': True,
 'Zimbabwe': True,
 'World': True,
 'The Netherlands': True,
 'France, New Caledonia': True,
 'US': True,
 'UK': True,
 'France, Guadeloupe': True,
 'France, Martinique': True,
 'Bosnia and Herzegovina': True,
 'France, La Réunion': True,
 'Trinidad and Tobago': True,
 'Cabo Verde': True,
 'Saint Lucia': True,
 'Gaza Strip and West Bank': True,
 'Myanmar': True,
 'São Tomé and Príncipe': True,
 'Congo, Democratic Republic of': True,
 'Congo, Republic of': True,
 'The Gambia': True}

In [21]:
unique_countries = countries_statistic[~countries_statistic.duplicated('Country', keep=False)].reset_index()

unique_countries

AttributeError: 'dict' object has no attribute 'duplicated'

Рассмотрим количество пропущенных стран в датафрейме

In [19]:
missed_countries = [country for country in countries_statistic.keys() if countries_statistic[country] == False]

In [166]:
len(missed_countries)

81